<div class="blog-image-tetxt">
    <div class="container wrapper-in" >
      
      <div class="latest-stories">
        <div class="image-over-blog-two-first">
        	<div class="image-over-blog-text-first">
			 {% if section.settings.left_image %} 
              <img class="img1" src="{{ section.settings.left_image | img_url: "master" }}">
              {% endif %}
        	</div>
          
          <div class="blog-right-content-first">
            
            {%- if section.settings.preheading != blank -%}
			  	<h4>{{ section.settings.preheading }}</h4>
			  {%- endif -%}
              {%- if section.settings.heading != blank -%}
			  	<h2>{{ section.settings.heading }}</h2>
			  {%- endif -%}
              {%- if section.settings.text2 != blank -%}
			  	{{ section.settings.text2 }}
			  {%- endif -%}
              <a class="btn image-over-blog-read" href="{{ section.settings.url1 }}"><span class="noselect">{{ section.settings.text22 }}</span></a>
            
          </div>
            
        </div>
      
         <div class="image-over-blog-two-second">
        	<div class="image-over-blog-text-second">
			 {% if section.settings.left_image %} 
              <img class="img1" src="{{ section.settings.left_image2 | img_url: "master" }}">
              {% endif %}
        	</div>
          
          <div class="blog-right-content-first">
            
            {%- if section.settings.preheading2 != blank -%}
			  	<h4>{{ section.settings.preheading2 }}</h4>
			  {%- endif -%}
              {%- if section.settings.heading2 != blank -%}
			  	<h2>{{ section.settings.heading2 }}</h2>
			  {%- endif -%}
              {%- if section.settings.text221 != blank -%}
			  	{{ section.settings.text221 }}
			  {%- endif -%}
              <a class="btn image-over-blog-read" href="{{ section.settings.url12 }}"><span class="noselect">{{ section.settings.text222 }}</span></a>
            
          </div>
            
        </div>
      </div>
      
  </div>
</div>  

    
{% schema %}
{
  "name": "Latest stories ",
  "class": "image_over-s",  
      "settings": [					
		{
          "type": "image_picker",
          "id": "left_image",
          "label": "left_image"
        },
		{
          "type": "image_picker",
          "id": "back_image1",
          "label": "Mobile Back Image"
        },
		{
          "type": "text",
          "id": "preheading",
          "label": "Preheading"
        },
		{
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
		{
		  "type": "richtext",
          "id": "text2",
          "label": "Paragraph"
        },
		{
          "type": "text",
          "id": "text22",
          "label": "Button"
        },
		{
          "type": "url",
          "id": "url1",
          "label": "Button URL"
        },

			{
          "type": "image_picker",
          "id": "left_image2",
          "label": "left_image"
        },
		{
          "type": "image_picker",
          "id": "back_image12",
          "label": "Mobile Back Image"
        },
		{
          "type": "text",
          "id": "preheading2",
          "label": "Preheading"
        },
		{
          "type": "text",
          "id": "heading2",
          "label": "Heading"
        },
		{
		  "type": "richtext",
          "id": "text221",
          "label": "Paragraph"
        },
		{
          "type": "text",
          "id": "text222",
          "label": "Button"
        },
		{
          "type": "url",
          "id": "url12",
          "label": "Button URL"
        }
      ],
  "presets": [
	{
      "name": "latest stories",
      "category": "Image"
    }
  ]
}

{% endschema %}