<div class="container">
  <div class="brand">
    <a href="{{ routes.root_url }}" title="{{ shop.name }}" class="footer-logo-wrapper is-{{ block.settings.size }}">
      {% if section.settings.logo %}
        {% render 'image-element',
            image: section.settings.logo,
            alt: section.settings.logo.alt,
            additional_classes: 'footer-logo'
        %}
      {% else %}
        <h2 class="footer-heading">{{ shop.name }}</h2>
      {% endif %}
    </a>
    {% if section.settings.text != blank %}
      <p>{{ section.settings.text }}</p>
    {% endif %}
    {% if section.settings.subtext != blank %}
      <small>{{ section.settings.subtext }}</small>
    {% endif %}
  </div>

  <div class="footer-navigation">
    {% for block in section.blocks %}
      {% if block.type == 'link_list' %}
      {% comment %} Menu {% endcomment %}
      {% render 'footer__menu', menu_link: block.settings.menu %}
      {% endif %}
    {% endfor %}

    {% if section.settings.show_contact_info %}
      <div class="contact-info">
        <h5>Contact Us</h5>
        {% if section.settings.phone_number != blank %}
          <p>{{ section.settings.phone_number }}</p>
        {% endif %}
        {% if section.settings.availability != blank %}
          <p>{{ section.settings.availability }}</p>
        {% endif %}
        {% if section.settings.email_address != blank %}
          <p>{{ section.settings.email_address }}</p>
        {% endif %}
        <p>&copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}</p>
      </div>
    {% endif %}
  </div>

  {% if section.settings.image %}
    <div class="media-block">
      {% render 'image-element',
        image: section.settings.logo,
        alt: section.settings.logo.alt,
        additional_classes: 'footer-image'
      %}
      </div>
  {% endif %}
</div>


{% schema %}

{
  "name": "Footer (New)",
  "class": "site-footer",
  "tag": "footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "header",
      "content": "Brand Information"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "500 x 200px recommended"
    },
    {
      "type": "select",
      "id": "size",
      "label": "Logo size",
      "default": "small",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Medical-grade, patient-tested Full Spectrum Hemp and plant-based wellness products that are unique in the industry for their innovation, quality, potency, and safety.</p>"
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "Subtext",
      "default": "<p>*These statements have not been evaluated by the U.S. Food and Drug Administration. Our product is not intended to cure or treat any disease.</p>"
    },
    {
      "type": "header",
      "content": "Contact Information"
    },
    {
      "type": "checkbox",
      "id": "show_contact_info",
      "label": "Show contact information",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone Number",
      "default": "(xxx)xxx-xxxx"
    },
    {
      "type": "text",
      "id": "availability",
      "label": "Availability",
      "default": "M-F 9am-5pm PT"
    },
    {
      "type": "text",
      "id": "email_address",
      "label": "Email Address",
      "default": "customerservice@mdbiowellness.com"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 500px recommended"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show drop-down items.",
          "default": "footer"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list",
        "settings": {
          "menu": "main-menu"
        }
      }
    ]
  }
}

{% endschema %}